

<div class="myHeader">

      <header class="header" style="">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu" style="">
          <li><a href="" class="link link-theme link-arrow">Home <img src="../assets/images/home.png" alt=""></a></li>
          <li><a href="#portfolio" class="link link-theme link-arrow">Portfolio  <img src="../assets/images/job2.png" alt=""> </a></li>
          <li><a href="//github.io/patricklusaya" target="_blank" class="link link-theme link-arrow">Github <img src="../assets/images/github.png"  target="_blank"> </a></li>

        </ul>
      </header>

    </div>