<div class="nav">
    <input type="checkbox" id="nav-check">
 
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="nav-links" style="padding-left: 60%;">
        <a href="">Home <img src="../assets/images/home.png" alt=""></a>
        <a href="#portfolio">Portfolio  <img src="../assets/images/job2.png" alt=""> </a>
        <a href="//github.io/patricklusaya" target="_blank">Github <img src="../assets/images/github.png"  target="_blank"> </a>
        
     
      </div>
    
  </div>